[Unit]
Description=flightdeck
After=syslog.target

[Service]
User=dsr
ExecStart=java -jar /opt/dsr/web/flightdeck.desertskyrangers.com/server/server.jar --server.port=5050
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
