[Unit]
Description=flightdeck
After=syslog.target

[Service]
User=dsr
WorkingDirectory=/opt/dsr/web/flightdeck.desertskyrangers.com/server
ExecStart=java -jar flightdeck.jar --server.port=8050 --spring.profiles.active=prod
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
